.Input-page {
    padding-top: 15rem;
    
    
    &__main {
        background-image: url(../img/page-background.svg);
        background-size: cover;
        height: 90vh;
        width: 100%;
        position: relative;
        
        @include respond(tab-port){
            
            width:64rem;
            margin-left: -9rem;

        }
        @include respond(phone){
            
            width:44rem;
            margin-left:0rem;
        }

        &-text {

            margin: 0 auto;
            padding-top: 12rem;
            animation: moveInLeft 3s ease-in;

            @include respond(big-desktop){

                padding:3rem;
            }

            @include respond(tab-port){
                padding-top:8rem;
                //padding:3rem;
            }
        }

    }

    &__sub {
        margin-top: 6rem;
    }

    &__image {
        position: relative;


        &-img {
            position: fixed;
            top: 1%;
            right: 1%;
            max-width: 5rem;

            &:hover {
                animation: shake 2s ease-in;
            }
        }
    }
}

main {
    padding: 6rem;

    @include respond(tab-port){
        padding:0rem;
    }

//     @include respond(phone){
//         padding:0rem;
//     }
}

.Result-page {
    display:none;
    //padding:1rem;
    padding-top: 15rem;
}